.header{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: space-between;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height:70px ;
    
}



#date-button{
    height: 70px;
    width: 170px;
    font-size: 15px;
    background-color: black;
    color: white;
}